body{
    margin-top: 230px;
    background-color:#000000;
    color: ivory;
}

.btn{
    color: ivory;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 7%;
    width: 100px;
    height: 30px;
}
.elif{
    background-color: #4700D8;
    border: 1px;
}
.switch{
    margin-left: 20px;
    background-color: #00AF91;
    border: 1px;
}